{% extends 'base.html' %}
{% block control %}
<iframe width="0" height="0" border="0" name="dummyframe" id="dummyframe" style="display:none;"></iframe>
<button type="button" id="lock" class="btn btn-primary">lock</button>
<button type="button" id="unlock" class="btn btn-primary">unlock</button>
<form action="/locker" id="home" method="get" style="display:none;" target="dummyframe">
<input type="text" id="myfield" name="lock" value="1"><br>
</form>
<script>
  document.getElementById("lock").addEventListener("click", function(){
  document.getElementById("myfield").value = "1";
  document.getElementById("home").submit();
});

  document.getElementById("unlock").addEventListener("click", function(){
  document.getElementById("myfield").value = "0";
  document.getElementById("home").submit();
});
</script>
{% endblock %}
{% block content %}
<p>{{ data }}</p>
{% endblock %}